@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo:wght@600&family=Lora:ital,wght@1,500&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background: #10192b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 350px;
    height: 80vh;
}

.tab {
    width: 100%;
    position: relative;
}

.tab__button {
    background: #1b243c4f;

    width: 100%;
    border: none;
    text-align: start;
    padding: 10px 10px;

    cursor: pointer;
    color: rgba(255, 255, 255, 0.616);
    font-size: 17px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.179);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.tab__button::before , .tab__panel::before {
    content: '';
    position: absolute;

    width: 30%;
    height: 100%;

    background: #373b44;
    background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    background: linear-gradient(to right, #4286f4, #373b44);

    top: 0;
    right: 0;
    z-index: -1;
    filter: blur(30px);
}

.tab__button::after {
    content: '\f0d7';

    font-family: 'Merriweather', serif;
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    color: rgba(255 , 255, 255, 0.616);
    transition: transform 0.8s;
}

.tab__button-active::after {
    transform: translate(0, -50%) rotate(-180deg);
}